In [2]:
word="pwskills"
a=word[::-1]
print(a)

sllikswp

In [5]:
name="kusum"
reversed_value=name[::-1]
if name == reversed_value:
    print("it is a palindrome")
else:
    print("it is not palindrome")

it is not palindrome

In [7]:
name="kusum"
a=name.upper()
print(a)

KUSUM

In [9]:
name="kusum"
a=name.lower()
print(a)

kusum

In [16]:
name="pwskills"
vowels=0
for i in name:
    if (i=='a'or i=='e'or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels=vowels+1
print(vowels)

1

In [19]:
name="my name is kusum"
vowels=0
consonants=0
for i in name:
    if (i=='a'or i=='e'or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels=vowels+1
    else:
        consonants=consonants+1
print(consonants)

11

In [24]:
s="my name is kusum"
s1=s.replace(' ','')
print(s1)

mynameiskusum

In [45]:
s="pwskills"
count=0
for item in s:
    count=count+1
print(count)

8

In [52]:
s="my name is kusum"
print( s.__contains__('k'))

True

In [55]:
word="hello word"
word1=word.replace('w','h')
print(word1)

hello hord

In [78]:
a="my name is kusum kusum kusum"
a1=a.count('kusum')
print(a1)

3

In [81]:
s="pwskills"
s1=s.find('i')
print(s1)

4

In [82]:
word="pwskills"
a=word.rfind('l')
print(a)

6

In [84]:
name="kusum"
a=word.split()
print(a)

['pwskills']

In [86]:
l=['my','name','is','kusum']
l1=' '.join(l)
print(l1)

my name is kusum

In [117]:
s="my_name_is_kusum"
a=s.replace('_',' ')
print(a)

my name is kusum

In [121]:
s="hello world"
s1=s.startswith('hello')
print(s1)

True

In [123]:
s="hello world"
s1=s.endswith('g')
print(s1)

False

In [138]:
word="hello word"
word1=word.title()
print(word1)

Hello Word

In [154]:
s="my name is kusum"
s1=s.split()
a=max(s1,key=len)
print(a)

kusum

In [158]:
s="i have a nw iphone"
s1=s.split()
a=min(s1,key=len)
print(a)

i

In [192]:
s="my name is kusum"
s1=s.split()
s1=list(reversed(s1))
s3=(" ".join(s1))
print(s3)

kusum is name my

In [194]:
s="kusum12345"
s1=s.isalnum()
print(s1)

True

In [204]:
v="kusum13689"
l=[]
for item in v:
    if item.isnumeric():
        l.append(item)
print( "".join(l))

13689

In [206]:
a="pwskills345"
l=[]
for item in a:
    if item.isalpha():
        l.append(item)
print("".join(l))

pwskills

In [208]:
word="KusumSUNil"
count=0
for item in word:
    if item.isupper():
        count=count+1
print(count)

4

In [210]:
word="kuSUMsunIL"
count=0
for item in word:
    if item.islower():
        count=count+1
print(count)

5

In [214]:
s="pwSKIlls"
l=[]
for item in s:
    if item.isupper():
        l.append(item.lower())
    elif item.islower():
        l.append(item.upper()) 
print("".join(l))

PWskiLLS

In [221]:
name="my name is kusum"
name1=name.replace('name','')
print(name1)

my  is kusum

In [230]:
    
  # q=30

In [235]:
username="kusumpra78@gamil.com"
a=username.split('@')
print(a[0])

kusumpra78

In [237]:
username="kusum56@gamil.com"
a=username.split('@')
print(a[1])

gamil.com

In [246]:
name="pw    ski  lls"
a=name.split()
print(' '.join(a))

pw ski lls

In [247]:
#q34

In [248]:
#q35

In [258]:
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
v="kusum,sunil#@%&*!"
l=[]
for item in v:
    if punc.__contains__(item):
        continue
    else:
        l.append(item)
print(''.join(l))

kusumsunil

In [260]:
w='1235679'
w1=w.isdigit()
print(w1)

True

In [272]:
w="hello word"
w1=w.isalpha()
print(w1) #this  is not a alphabet because it contains space.

False

In [275]:
s="my name is kusum"
l=[]
for item in s:
    l.append(item)
print(l)

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'k', 'u', 's', 'u', 'm']

In [276]:
#q41

In [277]:
#q42

In [278]:
#q43

In [280]:
#q44

In [283]:
#q45

In [285]:
#q46

In [287]:
#q47

In [289]:
#q48

In [291]:
#q49

In [293]:
#q50

In [294]:
# list questions started.

In [297]:
l=[]
for item in range(1,11):
    l.append(item)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [299]:
l=[1,2,3,4,5,6]
count=0
for item in l:
    count=count+1
print(count)

6

In [304]:
l=['kusum',1,3,67,True]
l1=l.append('False')
print(l)

['kusum', 1, 3, 67, True, 'False']

In [313]:
l=['kusum',1,8,6,True,False]
l1=l.insert(0,'my')
print(l)

['my', 'kusum', 1, 8, 6, True, False]

In [317]:
l=["kusum","pwskills",True,False]
l.remove('pwskills')
print(l)

['kusum', True, False]

In [321]:
l=["kusum","pwskills",True,False]
l.pop(2)
print(l)

['kusum', 'pwskills', False]

In [325]:
l=[1,7,9,6,4,5]
s=int(input("please enter the number"))
for item in l:
    if item == s :
        print("exists")

exists

In [329]:
l=["kusum","pwskills",True,False]
a=l.index('pwskills')
print(a)

1

In [335]:
l=[1,5,8,6,7,8,9,6,7,8,8]
count=0
for item in l:
    if item == 8:
        count=count+1
print(count)

4

In [337]:
l=[1,5,8,6,7,8,9,6,7,8,8]
a=l[::-1]
print(a)

[8, 8, 7, 6, 9, 8, 7, 6, 8, 5, 1]

In [340]:
l=[1,5,8,6,7,8,9,6,7,8,8]
a=sorted(l)
print(a)

[1, 5, 6, 6, 7, 7, 8, 8, 8, 8, 9]

In [348]:
l=[1,5,8,6,7,8,9,6,7,8,8]
a=l.sort(reverse=True)
print(l)

[9, 8, 8, 8, 8, 7, 7, 6, 6, 5, 1]

In [350]:
num=range(1,20)
l=[]
for item in num:
    if item%2==0:
        l.append(item)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [354]:
num=range(1,20)
l=[]
for item in num:
    if item%2 != 0:
        l.append(item)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [359]:
l=[2, 4, 6, 8, 10, 12, 14, 16, 18]
sum=0
for item in l:
    sum=sum+item
print(sum)

90

In [362]:
l=[2, 4, 6, 8, 10, 12, 14, 16, 18]
l1=max(l)
print(l1)

18

In [364]:
l=[2, 4, 6, 8, 10, 12, 14, 16, 18]
l1=min(l)
print(l1)

2

In [372]:
num=range(1,10)
l=[]
for item in num:
    l.append(item**2)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [375]:
#q19

In [376]:
#q20

In [390]:
list1=[3,4,5,6]
list2=[4,5,7,8,9]
l=[]
for item in list1:
    if item in list2:
        l.append(item)
print(l)

[4, 5]

In [384]:
list1=[3,4,5,6]
list2=[3,4,7,8,9]
l=[]
for item in list1:
    if item not in list2:
        l.append(item)
print(l)

[5, 6]

In [386]:
list1=['a','b','c','d']
list2=[1,6,7,4]
list3=list1+list2
print(list3)

['a', 'b', 'c', 'd', 1, 6, 7, 4]

In [387]:
#q24

In [389]:
list=[1,2,3,4,5]
l=[]
for item in list:
    if item%2==0:
        l.append(item)
print(l)

[2, 4]

In [3]:
l=['5','6','7','7','9',]
l1=[]
for item in l:
    a=int(item)
    l1.append(a)
print(l1)

[5, 6, 7, 7, 9]

In [5]:
l=[1,3,5,7,8,9]
l1=[]
for item in l:
    b=str(item)
    l1.append(b)
print(l1)

['1', '3', '5', '7', '8', '9']

In [10]:
l=[[4,5],[7,8,9,10],[5,9,0,3,65,]]
l1=[]
for item in l:
    for item2 in item:
        l1.append(item2)
print(l1)

[4, 5, 7, 8, 9, 10, 5, 9, 0, 3, 65]

In [12]:
#q29

In [19]:
l=[5,6,3,8,9]
count=0
i=1
while i < len(l):
    if (l[i]<l[i-1]):
        count=1
    i+=1   
if (not count):
     print("yes,list is sorted")
else:
    print("no,list is not sorted")

no,list is not sorted

In [21]:
#q31

In [23]:
#q32

In [25]:
#q33

In [27]:
#q34

In [29]:
list1=[10,56,90,45,34,23,89,30]
list2=list(set(list1))
list2.sort()
print(list2[-2])

89

In [48]:
l=[1,2,3,4,5]
for item in l:
    l[l.index(item)]= item**2
    
print(l)

[1, 16, 9, 4, 25]

In [69]:
import random
l=["apple","banana","cherry"]
random.shuffle(l)
print(l)

['apple', 'cherry', 'banana']

In [58]:
#q39

In [71]:
list1=[1,3,6,7]
list2=[2,4,7,6]
for item in list1:
    for item2 in list2:
        if item == item2:
            print(True)

True
True

In [76]:
l=[6,7,8,4,5]
a=l.clear()
print(l)

[]

In [84]:
l=[2,3,4,-3,6,7,-4]
l1=[]
for item in l:
    if item < 0 :
        l1.append(0)
    else:
        l1.append(item)    
        
print(l1)

[2, 3, 4, 0, 6, 7, 0]

In [89]:
s="pwskills"
l=[]
for item in s:
    l.append(item)
print(l)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [98]:
l=["my","name","is","kusum"]

print(''.join(l))

mynameiskusum

In [92]:
#q45

In [101]:
l=["one","two","three","four"]
l1=max(l,key=len)
print(l1)

three

In [105]:
l=["one","my","three","four"]
l1=min(l,key=len)
print(l1)

my

In [106]:
#q48

In [107]:
#49

In [108]:
#q50

In [109]:
#tuple based in problem.

In [112]:
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [116]:
t=("apple","mango","date","grapes","pineapple")
print(t[3])

grapes

In [119]:
t=('apple','one','three','mango')
count=0
for item in t:
    count=count+1
print(count)

4

In [126]:
t=('apple','one','three','mango')
a=t.count('apple')
print(a)

1

In [133]:
t=('apple','one','three','mango','one')
a=t.index('one')
print(a)

1

In [142]:
t=('apple','one','three','mango',)
if "apple" in t:
    print("yes")

yes

In [198]:
t1=('a','b','c','d')
l1 = [*t1,]
print(l1)

['a', 'b', 'c', 'd']

In [196]:
l=['kusum' ,'sunil' ,'jyoti']
t1=(*l,)
print(t1)

('kusum', 'sunil', 'jyoti')

In [188]:
dress=('gown','saree','kurta','pajma')
(blue,red,yellow,white)=dress
print(blue)
print(red)
print(yellow)

gown
saree
kurta

In [209]:
num=range(1,10)
a=()
for item in num:
    if item%2 == 0:
        a=a+tuple(item)
print(a)

TypeError: can only concatenate tuple (not "int") to tuple

In [193]:
#q11

In [195]:
t1=("a","b","c","d")
t2=(1,2,3,4)
t3=t1+t2
print(t3)

('a', 'b', 'c', 'd', 1, 2, 3, 4)

In [211]:
t=(10,20,40,59) * 3
print(t)

(10, 20, 40, 59, 10, 20, 40, 59, 10, 20, 40, 59)

In [215]:
t=()
if len(t) == 0:
    print('empty')
else:
    print("not empty")

empty

In [217]:
t=((7,6,8),(6,8,9,10))
print(t)

((7, 6, 8), (6, 8, 9, 10))

In [220]:
t=((7,6,8),(6,8,9,10))
print(t[0])

(7, 6, 8)

In [222]:
t=(1)

In [227]:
t1=(6,7,1,3)
t2=(6,7,1,3)
#for item in t1:
    #for item2 in t2:
       # if item == item2:
           # print(item)
if t1 == t2:
    print("true")
else:
    print("false")

true

In [234]:
t=('apple','mango','date')
del(t)

In [242]:
t1=('a','b','c','d','e')
x= slice(2)
print(t1[x])

('a', 'b')

In [244]:
t=(1,6,8,9,5,7)
a=max(t)
print(a)

9

In [246]:
t=(1,6,8,9,5,7)
a=min(t)
print(a)

1

In [254]:
#q23

In [266]:
#q24

In [268]:
t=('apple','mango','date')
print(t)

('apple', 'mango', 'date')

In [281]:
t1=[(10,20,30),(10,20,30)]
t2=[(10,20,30),(10,20,30)]
t3=t1==t2
print("true")

true

In [286]:
#q27

In [287]:
#q28

In [288]:
#q29

In [290]:
t1=('a','b','c','d')
t2=(1,2,4)
t3=t1+t2
print(t3)

('a', 'b', 'c', 'd', 1, 2, 4)

In [293]:
#q31

In [294]:
#q32

In [295]:
#q33

In [296]:
#q34

In [297]:
#q35

In [298]:
#q36

In [299]:
#q37

In [300]:
#q38

In [301]:
#q39

In [302]:
#q40

In [303]:
#q41

In [304]:
#q42

In [305]:
#q43

In [306]:
#q44

In [307]:
#q45

In [308]:
#q46

In [309]:
#q47

In [310]:
#q48

In [311]:
#q49

In [312]:
#q50

In [313]:
#set problem solved

In [319]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [322]:
s={'k','u','s','u','m'}
s.add('g')
print(s)

{'k', 'g', 's', 'u', 'm'}

In [327]:
s={1,3,5,6,0,8}
s.remove(5)
print(s)

{0, 1, 3, 6, 8}

In [331]:
s={'kusum','mamta','apple'}
if "apple" in s:
    print("yes")

yes

In [344]:
s={'kusum','mamta','apple'}
count=0
for item in s:
    count=count+1
print(count)

3

In [346]:
s={'kusum','mamta','apple'}
s.clear()
print(s)

set()

In [349]:
s={1,2,3,4,5,6,7,8,9,10}
count=0
for item in s:
    if item%2 == 0:
        print(item)

2
4
6
8
10

In [351]:
s={1,2,3,4,5,6,7,8,9,10}
count=0
for item in s:
    if item%2 != 0:
        print(item)

1
3
5
7
9

In [354]:
s={1,2,3,4,}
s1={6,8,9,5}
x=s.union(s1)
print(x)

{1, 2, 3, 4, 5, 6, 8, 9}

In [357]:
s={1,2,3,4,5}
s1={6,8,9,5}
x=s.intersection(s1)
print(x)

{5}

In [359]:
s={1,2,3,4,5}
s1={6,8,9,5}
print(s.difference(s1))
print(s1.difference(s))

{1, 2, 3, 4}
{8, 9, 6}

In [361]:
s1={1,2,3,4,5}
s={4,5}
print(s.issubset(s1))

True

In [363]:
s1={1,2,3,4,5}
s={4,5}
print(s.issuperset(s1))

False

In [370]:
#q14

In [371]:
#q15

In [381]:
#q16

In [386]:
s1={'apple','mango','grapes'}
s1.pop()
print(s1)

{'mango', 'grapes'}

In [388]:
s1={1,3,5,6}
s2={2,7,9,10}
if s1 != s2:
    print("not common")

not common

In [391]:
s1={1,3,5,6}
s2={2,7,6,10}
print(s1.symmetric_difference(s2))

{1, 2, 3, 5, 7, 10}

In [393]:
s={'apple','mango','date','grapes'}
s1={'one','two','apple'}
s.update(s1)
print(s)

{'date', 'one', 'apple', 'mango', 'grapes', 'two'}

In [394]:
#q21

In [396]:
s={'apple','mango','date','grapes'}
s1={'apple','mango','date','grapes'}
if s == s1 :
    print("it is indentical")
else:
    print("it is not identical")

it is indentical